@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 350px;
  --breakpoint-ssm: 420px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1921px;
}

.font-mono-custom {
  font-family: "Roboto Mono", monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #ff582f;
}

body,
html {
  overflow-x: hidden;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins), sans-serif;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #ff582f;
  border-radius: 6px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}

* {
  scrollbar-color: #ff582f #1c1c1c;
}


input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: #252525 !important;
  color: white !important;
}

input:focus,
textarea:focus {
  background-color: #252525 !important;
  color: white !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #252525 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}